# Toronto Neighborhoods Dataframe Clean

### First, we will import the Pandas library, define the url and then read it into a pandas dataframe.

In [108]:
import pandas as pd

In [109]:
URL = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [110]:
dfs = pd.read_html(URL, header=0)[0]

### We will then take a look at the first five records and the number of rows and columns in the dataframe.

In [113]:
dfs.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [114]:
dfs.shape

(180, 3)

### We will now clean the dataset and take out rows that are not of use.

In [115]:
dfs = dfs.stack().str.replace('/',',').unstack()

In [116]:
dfs = dfs.drop(dfs[dfs.Borough == 'Not assigned'].index)

### We will then take a check to make sure the data looks the way we intend and check the count again.

In [117]:
dfs.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [118]:
dfs.tail()

,Postal code,Borough,Neighborhood
160,M8X,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,"Old Mill South , King's Mill Park , Sunnylea ,..."
178,M8Z,Etobicoke,"Mimico NW , The Queensway West , South of Bloo..."

In [119]:
dfs.shape

(103, 3)